<main class="gas-info">
  <h2>The average price of regular unleaded gas in <span id="gas-state"></span> is</h2>
  <h1><span id="gas-price"></span></h1>
  <h3>as of <span id="gas-date"></span></h3>
  <p>Change the selection to check the price of gas in another state.
    <select id="gas-state-select" name="selector">
    </select>
  </p>
</main>